<div id="index-banner" class="parallax-container layout_top">
  <div class="section no-pad-bot">
    <div class="top-container">
      <h1 class="top-title">マッチングアプリマスター</h1>
      <h2 class="sub-top-title">〜モテ男への道〜</h2>
      <p class="top-content">目的別に適したマッチングアプリを導き出し、そのアプリごとのテクニックやコツを全て指南するマッチングアプリ完全攻略サービスです。</p>
      <div class="top_box">
        <div class="top_box_title">対象アプリ</div>
        <div class="top_apps">
          <img src="/app_icon_images/Pairs60R.png">
          <img src="/app_icon_images/with60R.png">
          <img src="/app_icon_images/tapple60R.png" class="app-image-tapple">
          <img src="/app_icon_images/Tinder60R.png">
        </div>
      </div>
      <div class="line_qr">
        <img src="https://qr-official.line.me/sid/L/949hjpwe.png">
      </div>
      <div class="line_botton">
        <a href="https://lin.ee/SxkZcsn">
          <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0">
        </a>
      </div>
      <div class="top_guide">
        <h3 class="top_guide_title">アプリの使い方</h3>
        <!-- スライダーのメインコンテナの div 要素（必須） -->
        <div class="swiper">
          <!-- スライドを囲む div 要素（必須） -->
          <div class="swiper-wrapper">
            <!-- それぞれのスライドの div 要素（必須） -->
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_1" data-number="01">適正アプリ診断</p>
              </div>
              <img src="/guides/適正アプリ診断.jpg" alt="適正アプリ診断">
              <div class="slide-content">
                <p>「<span class="each_1">診断する</span>」ボタンをクリックすると、3つの質問をされるので、その質問に答えて自分に向いているアプリを診断しよう！</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_2" data-number="02">診断結果</p>
              </div>
              <img src="/guides/診断結果.jpg" alt="診断結果">
              <div class="slide-content">
                <p>「<span class="each_1">01 - 適正アプリ診断</span>」の診断を終えると、「<span class="each_2">診断結果</span>」画面が表示されます。<br>診断結果を元に、「<span class="each_2">攻略するアプリを選択</span>」ボタンをクリックして、自分の攻略するアプリを選択しよう！</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_3" data-number="03">攻略アプリ詳細(上半分)</p>
              </div>
              <img src="/guides/攻略アプリ詳細(上半分).jpg" alt="攻略アプリ詳細(上半分)">
              <div class="slide-content">
                <p>「<span class="each_2">攻略するアプリを選択</span>」したら、上記画像のような各「<span class="each_3">攻略アプリ詳細</span>」ページに飛べますので、特徴などを知りましょう！</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_4" data-number="04">攻略アプリ詳細(下半分)</p>
              </div>
              <img src="/guides/攻略アプリ詳細(下半分).jpg" alt="攻略アプリ詳細(下半分)">
              <div class="slide-content">
                <p>「下半分」は「<span class="each_4">攻略の流れ</span>」として、「1〜8」までの「<span class="each_4">ステップ </span>」に分かれています。<br>「<span class="each_4">ステップ</span>」ボタンをクリックするとそれぞれのステップ説明ページに飛べます。<br>※ with と tapple は「彼女作り」と「遊び」の切り替えが出来ます。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_5" data-number="05">デートプラン</p>
              </div>
              <img src="/guides/デートプラン.jpg" alt="デートプラン">
              <div class="slide-content">
                <p>画面最下部のボトムメニューにある4項目の内、「<span class="each_5">デートプラン</span>」をクリックすると「<span class="each_5">目的別のデートプラン一覧</span>」(上記画像)ページに飛べます。<br>目的を選んでボタンをクリックすると、その目的のデートプラン一覧が表示されます。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_6" data-number="06">マイページ</p>
              </div>
              <img src="/guides/マイページ.jpg" alt="マイページ">
              <div class="slide-content">
                <p>画面最下部のボトムメニューにある4項目の内、「<span class="each_6">マイページ</span>」をクリックすると「<span class="each_6">マイページ</span>」(上記画像)に飛べます。<br>自分の「モテ度」・「女性とデートした回数」・「キスした女性の人数」が可視化されています。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_7" data-number="07">女性登録</p>
              </div>
              <img src="/guides/女性登録.jpg" alt="女性登録">
              <div class="slide-content">
                <p>「<span class="each_6">マイページ</span>」または「右上のメニュー」から「<span class="each_7">女性登録</span>」をクリックすると、「<span class="each_7">女性登録</span>」(上記画像)ページに飛べます。<br>※ 「アプリ」・「容姿」・「名前」・「目的」は必須項目です。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_8" data-number="08">女性一覧</p>
              </div>
              <img src="/guides/女性一覧.jpg" alt="女性一覧">
              <div class="slide-content">
                <p>「<span class="each_7">7 - 女性登録</span>」が完了したら「<span class="each_8">女性一覧</span>」(上記画像)ページに飛べます。<br>※ 「<span class="each_6">マイページ</span>」または「右上のメニュー」からも飛べます。<br>自分が登録した女性が表示されており、女性をクリックすると、その「<span class="each_9">女性の詳細</span>」ページに飛べます。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_9" data-number="09">女性詳細(上半分)</p>
              </div>
              <img src="/guides/女性詳細(上半分).jpg" alt="女性詳細(上半分)">
              <div class="slide-content">
                <p>「上半分」はその「<span class="each_9">女性の詳細</span>」情報が表示されており、また、その女性に対しての「デートした回数」・「好感度・「進展度」も表示されています。<br>※ 「好感度・「進展度」は、「<span class="each_12">12 - デート結果報告</span>」を元に算出されています。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_10" data-number="10">女性詳細(下半分)</p>
              </div>
              <img src="/guides/女性詳細(下半分).jpg" alt="女性詳細(下半分)">
              <div class="slide-content">
                <p>「下半分」は「<span class="each_10">デートの予定を登録する</span>」として、「デートの日付」と「デートプラン」を登録します。<br>また、「おすすめのデート予定日」・「おすすめのデートプラン」を教えてくれるので参考にするのも良いでしょう。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_11" data-number="11">デート報告</p>
              </div>
              <img src="/guides/デート報告.jpg" alt="デート報告">
              <div class="slide-content">
                <p>「<span class="each_10">10 - 女性詳細(下半分)</span>」で「デートの予定を登録」したら、上記の画像のページに変わるので、「<span class="each_11">デート報告</span>」ボタンをクリックして、デート結果を報告しましょう。<br>※ 「<span class="each_11">デート報告</span>」ボタンは「デート予定日以降」に出現します。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_12" data-number="12">デート結果報告</p>
              </div>
              <img src="/guides/デート結果報告.jpg" alt="デート結果報告">
              <div class="slide-content">
                <p>「<span class="each_11">11 - デート報告</span>」で「デート報告」ボタンをクリックしたら、「<span class="each_12">デート結果報告</span>」(上記画像)ページに飛べます。<br>11項目ある為、それぞれ結果を報告しましょう。<br>※ 選択されなかった項目は、「未実施」として報告されます。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_13" data-number="13">デート結果履歴一覧</p>
              </div>
              <img src="/guides/デート結果履歴一覧.jpg" alt="デート結果履歴一覧">
              <div class="slide-content">
                <p>「<span class="each_13">デート結果履歴一覧</span>」には自分が報告したデート結果が表示されており、デート結果をクリックすると、その「<span class="each_14">デート結果履歴</span>」に飛べます。<br>※ 「デート予定日以降」になっても未報告のデートの予定は、「デート結果未報告」として表示されます。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_14" data-number="14">デート結果履歴</p>
              </div>
              <img src="/guides/デート結果履歴.jpg" alt="デート結果履歴">
              <div class="slide-content">
                <p>「<span class="each_14">デート結果履歴</span>」には、「<span class="each_12">12 - デート結果報告</span>」で報告したデート結果が表示されています。<br>※ 過去に同じ女性のデートで「成功」してる場合は、「成功済」になります。<br>※ 女性の名前をタップすると、その「<span class="each_9">女性の詳細</span>」ページに飛べます。</p>
              </div>
            </div>
          </div>
          <!-- ページネーションの div 要素（省略可能） -->
          <div class="swiper-pagination"></div>
        
          <!-- ナビゲーションボタンの div 要素（省略可能） -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <p class="top_guide_end_text">モテ度75%以上になれるように頑張りましょう！</p>

        <!-- ツイートボタン -->
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="マッチングアプリ完全攻略サービス「マッチングアプリマスター」" data-url="https://dating-apps-master.com/top" data-size="large" data-hashtags="マッチングアプリマスター" data-related="ryuki_program" data-lang="ja">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 
        <!-- LINEで送るボタン -->
        <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://social-plugins.line.me/ja/how_to_install#lineitbutton" data-color="default" data-size="large" data-count="false" style="display: none;"></div>
        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

        <!-- コピーライト -->
        <p class="copyright">© 2021 マッチングアプリマスター</p>
      </div>      
    </div>
  </div>
</div>