<div id="index-banner" class="parallax-container layout_top">
  <div class="section no-pad-bot">
    <div class="top-container">
      <h1 class="top-title">マッチングアプリマスター</h1>
      <h2 class="sub-top-title">〜モテ男への道〜</h2>
      <p class="top-content">目的別に適したマッチングアプリを導き出し、そのアプリごとのテクニックやコツを全て指南するマッチングアプリ完全攻略サービスです。</p>
      <p class="object_app">「 対象アプリ 」</p>
      <div class="top_apps">
        <img src="/app_icon_images/Pairs60R.png">
        <img src="/app_icon_images/with60R.png">
        <img src="/app_icon_images/tapple60R.png">
        <img src="/app_icon_images/Tinder60R.png">
        </div>
      <%= link_to '始める', app_diagnostics_path, class: "top_start_button" %>
    </div>
  </div>
</div>