<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  <div class="top-container">
    <h1 class="top-title">マッチングアプリマスター</h1>
    <h2 class="sub-top-title">〜モテ男への道〜</h2>
    <p class="top-content">目的別に適したマッチングアプリを導き出し、そのアプリごとのテクニックやコツを全て指南するマッチングアプリ完全攻略サービス</p>
    <%= link_to '始める', app_diagnostics_path, class: "waves-effect waves-light btn-large" %>
  </div>