<div id="index-banner" class="parallax-container layout_top">
  <div class="section no-pad-bot">
    <div class="top-container">
      <h1 class="top-title">マッチングアプリマスター</h1>
      <h2 class="sub-top-title">〜モテ男への道〜</h2>
      <p class="top-content">目的別に適したマッチングアプリを導き出し、そのアプリごとのテクニックやコツを全て指南するマッチングアプリ完全攻略サービスです。</p>
      <div class="top_box">
        <div class="top_box_title">対象アプリ</div>
        <div class="top_apps">
          <img src="/app_icon_images/Pairs60R.png">
          <img src="/app_icon_images/with60R.png">
          <img src="/app_icon_images/tapple60R.png" class="app-image-tapple">
          <img src="/app_icon_images/Tinder60R.png">
        </div>
      </div>
      <div class="line_qr">
        <img src="https://qr-official.line.me/sid/L/949hjpwe.png">
      </div>
      <div class="line_botton">
        <a href="https://lin.ee/SxkZcsn">
          <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0">
        </a>
      </div>
      <div class="top_guide">
        <h3 class="top_guide_title">アプリの使い方</h3>
        <!-- スライダーのメインコンテナの div 要素（必須） -->
        <div class="swiper">
          <!-- スライドを囲む div 要素（必須） -->
          <div class="swiper-wrapper">
            <!-- それぞれのスライドの div 要素（必須） -->
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_1" data-number="01">適正アプリ診断</p>
              </div>
              <img src="/guides/適正アプリ診断.jpg" alt="適正アプリ診断">
              <div class="slide-content">
                <p>「診断する」ボタンをクリックすると、3つの質問をされるので、その質問に答えて自分に向いているアプリを診断しよう！</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_2" data-number="02">診断結果</p>
              </div>
              <img src="/guides/診断結果.jpg" alt="診断結果">
              <div class="slide-content">
                <p>「01 - 適正アプリ診断」の診断を終えると、「診断結果」画面が表示されます。<br>診断結果を元に、「攻略するアプリを選択」ボタンをクリックして、自分の攻略するアプリを選択しよう！</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_3" data-number="03">攻略するアプリの詳細</p>
              </div>
              <img src="/guides/攻略するアプリの詳細.jpg" alt="攻略するアプリの詳細">
              <div class="slide-content">
                <p>「攻略するアプリを選択」したら、上記画像のような各アプリの詳細ページに遷移するので、特徴などを知りましょう！<br>また下半分は「攻略の流れ」として、</p>
              </div>
            </div>
          </div>
          <!-- ページネーションの div 要素（省略可能） -->
          <div class="swiper-pagination"></div>
        
          <!-- ナビゲーションボタンの div 要素（省略可能） -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>    
      </div>      
    </div>
  </div>
</div>