<div id="index-banner" class="parallax-container layout_top">
  <div class="section no-pad-bot">
    <div class="top-container">
      <h1 class="top-title">マッチングアプリマスター</h1>
      <h2 class="sub-top-title">〜モテ男への道〜</h2>
      <p class="top-content">目的別に適したマッチングアプリを導き出し、そのアプリごとのテクニックやコツを全て指南するマッチングアプリ完全攻略サービスです。</p>
      <div class="top_box">
        <div class="top_box_title">対象アプリ</div>
        <div class="top_apps">
          <img src="/app_icon_images/Pairs60R.png">
          <img src="/app_icon_images/with60R.png">
          <img src="/app_icon_images/tapple60R.png" class="app-image-tapple">
          <img src="/app_icon_images/Tinder60R.png">
        </div>
      </div>
      <div class="line_qr">
        <img src="https://qr-official.line.me/sid/L/949hjpwe.png">
      </div>
      <div class="line_botton">
        <a href="https://lin.ee/SxkZcsn">
          <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0">
        </a>
      </div>
      <div class="top_guide">
        <h3 class="top_guide_title">アプリの使い方</h3>
        <!-- スライダーのメインコンテナの div 要素（必須） -->
        <div class="swiper">
          <!-- スライドを囲む div 要素（必須） -->
          <div class="swiper-wrapper">
            <!-- それぞれのスライドの div 要素（必須） -->
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_1" data-number="01">適正アプリ診断</p>
              </div>
              <img src="/guides/適正アプリ診断.jpg" alt="適正アプリ診断">
              <div class="slide-content">
                <p>「<span class="each_1">診断する</span>」ボタンをクリックすると、3つの質問をされるので、その質問に答えて自分に向いているアプリを診断しよう！</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_2" data-number="02">診断結果</p>
              </div>
              <img src="/guides/診断結果.jpg" alt="診断結果">
              <div class="slide-content">
                <p>「<span class="each_1">01 - 適正アプリ診断</span>」の診断を終えると、「診断結果」画面が表示されます。<br>診断結果を元に、「<span class="each_2">攻略するアプリを選択</span>」ボタンをクリックして、自分の攻略するアプリを選択しよう！</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_3" data-number="03">攻略アプリ詳細(上半分)</p>
              </div>
              <img src="/guides/攻略アプリ詳細(上半分).jpg" alt="攻略アプリ詳細(上半分)">
              <div class="slide-content">
                <p>「<span class="each_2">攻略するアプリを選択</span>」したら、「<span class="each_3">上半分</span>」は上記画像のような各「攻略アプリ詳細」ページに飛べますので、特徴などを知りましょう！</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_4" data-number="04">攻略アプリ詳細(下半分)</p>
              </div>
              <img src="/guides/攻略アプリ詳細(下半分).jpg" alt="攻略アプリ詳細(下半分)">
              <div class="slide-content">
                <p>「<span class="each_4">下半分</span>」は「攻略の流れ」として、「1〜8」までの「<span class="each_4">ステップ </span>」に分かれています。<br>「<span class="each_4">ステップ</span>」ボタンをクリックするとそれぞれのステップ説明ページに飛べます。<br>※ with と tapple は「彼女作り」と「遊び」の切り替えが出来ます。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_5" data-number="05">デートプラン</p>
              </div>
              <img src="/guides/デートプラン.jpg" alt="デートプラン">
              <div class="slide-content">
                <p>画面最下部のボトムメニューにある4項目の内、「<span class="each_5">デートプラン</span>」をクリックすると「目的別のデートプラン一覧」(上記画像)ページに飛べます。<br>目的を選んでボタンをクリックすると、その目的のデートプラン一覧が表示されます。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_6" data-number="06">マイページ</p>
              </div>
              <img src="/guides/マイページ.jpg" alt="マイページ">
              <div class="slide-content">
                <p>画面最下部のボトムメニューにある4項目の内、「<span class="each_6">マイページ</span>」をクリックすると「マイページ」(上記画像)に飛べます。<br>自分の「モテ度」・「女性とデートした回数」・「キスした女性の人数」が可視化されています。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_7" data-number="07">女性登録</p>
              </div>
              <img src="/guides/女性登録.jpg" alt="女性登録">
              <div class="slide-content">
                <p>「<span class="each_6">マイページ</span>」または「右上のメニュー」から「<span class="each_7">女性登録</span>」をクリックすると、「女性登録」(上記画像)ページに飛べます。<br>「アプリ」・「容姿」・「名前」・「目的」は必須項目です。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_8" data-number="08">女性一覧</p>
              </div>
              <img src="/guides/女性一覧.jpg" alt="女性一覧">
              <div class="slide-content">
                <p>「<span class="each_7">女性登録</span>」直後や、「<span class="each_6">マイページ</span>」または「右上のメニュー」から「<span class="each_8">女性一覧</span>」をクリックすると、「女性一覧」(上記画像)ページに飛べます。<br>自分が登録した女性が表示されており、女性をクリックすると、その女性の詳細ページに飛べます。</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_9" data-number="09">女性詳細(上半分)</p>
              </div>
              <img src="/guides/女性詳細(上半分).jpg" alt="女性詳細(上半分)">
              <div class="slide-content">
                <p></p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-title">
                <p class="top_guide_each each_10" data-number="10">女性詳細(下半分)</p>
              </div>
              <img src="/guides/女性詳細(下半分).jpg" alt="女性詳細(下半分)">
              <div class="slide-content">
                <p></p>
              </div>
            </div>
          </div>
          <!-- ページネーションの div 要素（省略可能） -->
          <div class="swiper-pagination"></div>
        
          <!-- ナビゲーションボタンの div 要素（省略可能） -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>    
      </div>      
    </div>
  </div>
</div>