<div class="container">
   
   <input id="switch" type="checkbox" hidden>
   <label for="switch" class="switch">
      <h1 class="female">✝</h1>
      <h1 class="male">➜</h1>
   </label>
   
</div>

<div class="app-strategies-flow">
  <h6 class="app-strategies-show-arrow-title">攻略の流れ</h6>
      <div>
        <ul>
          <li>
            <div class="progress app-diagnostic-result-bar rotate-bottom" id="app-strategies-show-bar">
              <div class="indeterminate app-diagnostic-result-bar-move-bottom">----</div>
            </div>
          </li>
          <li class="arrow-clippath-bottom" id="app-strategies-show-arrow"></li>
        </ul>
      </div>
</div>