<div class="container" id="app-strategies-show">
  <img src="<%= "/app_icon_images/#{@app.icon_image}" %>">
  <h4 class="center" id="app-strategies-show-title"><%= @app.name %>攻略</h4>
  <div class="app-strategies-show-box-pairs">
    <div class="app-strategies-show-box-pairs-title">特徴</div>
    <p id="app-strategies-show-description">ペアーズは真面目に恋活・婚活をしている女性が多い為、彼女を作りたい・結婚したい男性に向いているアプリです。<br>遊びたい男性には向いていません。<br>また、他のアプリに比べてイケメン・ハイスペックな男性が少なく、競争率はあまり高くない為、マッチング率高め。</p>
  </div>
</div>