<div class="container" id="app-strategies-show">
  <img src="<%= "/app_icon_images/#{@app.icon_image}" %>">
  <h4 class="center" id="app-strategies-show-title"><%= @app.name %>攻略</h4>
  <div class="app-strategies-show-box-pairs">
    <div class="app-strategies-show-box-pairs-title">特徴</div>
    <p id="app-strategies-show-description">タップルは真面目に恋活・婚活している女性と遊びの女性が半々くらいな為、彼女が欲しいけど遊びたい気持ちもある男性に向いているアプリです。<br>また、ペアーズやウィズに比べてイケメン・ハイスペックな男性が多い傾向にあり、競争率がそこそこ高い為、マッチング率はやや低め。<br>清楚な女性・ギャルな女性などの色々な種類の女性が登録しており、可愛い女性が多いです。</p>
  </div>
</div>