<div id="index-banner" class="parallax-container layout-app-strategies">
  <div class="section no-pad-bot">
    <div class="container" id="app-strategies-select">
      <h4 class="center" id="app-strategies-select-title">攻略するアプリを選択</h4>
      <%= link_to @pairs.name, app_strategies_path, class: "app-strategies-select-button" %>
      <%= link_to @with.name, app_strategies_path, class: "app-strategies-select-button" %>
      <%= link_to @tapple.name, app_strategies_path, class: "app-strategies-select-button" %>
      <%= link_to @tinder.name, app_strategies_path, class: "app-strategies-select-button" %>
    </div>
  </div>
</div>