<div class="container">
    <h5 id="app-diagnostics-page">1/3</h5>
    <p class="app-diagnostics-text" id="app-diagnostics-text">どんな目的でマッチングアプリを利用しますか？<br>また、女性とどのような関係になりたいですか？<br>※複数選択可</p>
    <div class="row center">
      <form action="2" name="app_diagnostics_form_1">
        <div class="app-diagnostics-answer-box-1">
        <!-- question1 -->
          <button type="button" id="app-diagnostics-description-select-button-1-1" class="btn waves-effect waves-light buttonwhite app-diagnostics-answer-btn">彼女が欲しい</button>
          <input name="allocation_1_1" type="hidden" value="aabbc" id="allocation-1-1">
          <button type="button" id="app-diagnostics-description-select-button-1-2" class="btn waves-effect waves-light buttonwhite app-diagnostics-answer-btn">都合の良い女性が欲しい</button>
          <input name="allocation_1_2" type="hidden" value="bccdd" id="allocation-1-2">
        </div>
        <br>
        <!-- question1のsubmitボタン -->  
        <button name="app_diagnostics_submit_1" type="button" id="app-diagnostics-select-submit-button">選択</button>
      </form>
    </div>
</div>