<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h3 class="header center" id="app-diagnostics-title">適正アプリ診断</h3>
      <p class="app-diagnostics-text">4つのアプリ(Pairs・with・tapple・Tinder)の内、どのアプリが向いているのか診断しましょう！</p>
      <div class="row center">
        <%= link_to '診断する', app_diagnostic_path(1), id: "app-diagnostics-button", class: "btn-large waves-effect waves-light" %>
      </div>
    </div>
  </div>
</div>