// Place all the styles related to the app_diagnostics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#app-diagnostics-title{
    color: #121a19;
    font-weight: bold;
    margin-top: 50px;
}

#app-diagnostics-button {
    margin-top: 80px;
    color: white;
    background: linear-gradient(#c2f2f8, #f5dbf1);
    font-size: 30px;
    padding: 0 50px;
    border-radius:30px;
    
}

.app-diagnostics-text {
    color: black;
    text-align: center;
    margin-top: 20px;
}

#app-diagnostics-error-message {
    color: red;
}

#app-diagnostics-select-submit-button {
    margin-top: 15px;
    color: white;
    background: linear-gradient(#c2f2f8, #f5dbf1);
    font-size: 20px;
    padding: 0 20px;
    border-radius:30px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 32.4px;
    line-height: 32.4px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#app-diagnostics-page {
    color: #121a19;
    text-align: right;
}

.app-diagnostics-answer-btn {
    color: black;
    height: 38px;
    padding: 0px 14px;
    font-size: 14px;
    letter-spacing: 3.5px;
    border-radius: 30px;
    margin: 15px;
}

.app-diagnostics-select-submit-button-3 {
    margin-top: 1px !important;
}

.description-long {
    font-size: 11px !important;
    padding: 0px 7px !important;
    letter-spacing: 0.5px !important;
}

.buttonwhite {
    background: white !important;
}

.buttonred {
    background: rgb(248, 132, 132) !important;
    color: white !important;
}

.buttonblue {
    background: rgb(132, 196, 248) !important;
    color: white !important;
}

.buttongreen {
    background: rgb(132, 248, 184) !important;
    color: white !important;
}

.app-diagnostics-answer-box-1 {
    padding: 15px 1em;
    margin: 20px 0;
    font-weight: bold;
    background: -webkit-repeating-linear-gradient(-45deg, #fff0f0, #fff0f0 3px,#ffe9e9 3px, #ffe9e9 7px);
    background: repeating-linear-gradient(-45deg, #fff0f0, #fff0f0 3px,#ffe9e9 3px, #ffe9e9 7px);
    border: solid 0.5px #fac4c4;/*線*/
    border-radius: 10px;/*角の丸み*/
    display:flex;
    flex-flow: column;
}

.app-diagnostics-answer-box-2 {
    padding: 15px 1em;
    margin: 20px 0;
    font-weight: bold;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    border: solid 0.5px #c4e0fa;/*線*/
    border-radius: 10px;/*角の丸み*/
    display:flex;
    flex-flow: column;
}

.app-diagnostics-answer-box-3 {
    padding: 15px 1em;
    margin: 20px 0;
    font-weight: bold;
    background: -webkit-repeating-linear-gradient(-45deg, rgb(240, 255, 247), #f0fff7 3px,#e9fff3 3px, #e9fff3 7px);
    background: repeating-linear-gradient(-45deg, #f0fff7, #f0fff7 3px,#e9fff2 3px, #e9fff2 7px);
    border: solid 0.5px #c4fadc;/*線*/
    border-radius: 10px;/*角の丸み*/
    display:flex;
    flex-flow: column;
}

#text-black {
    color: black;
}

#app-diagnostics-result {
    color: #121a19;
    text-align: center;
    margin-top: 50px;
}

#app-diagnostics-result-title {
    font-weight: bold;
}