// Place all the styles related to the app_diagnostics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.app-diagnostics-logo {
    text-align: center;
}

#app-diagnostics-title{
    color: #121a19
}

#app-diagnostics-button {
    margin-top: 80px;
    color: white;
    background: linear-gradient(#c2f2f8, #f5dbf1);
    font-size: 30px;
    padding: 0 50px;
    border-radius:30px;
    
}

.app-diagnostics-text {
    color: black
}
