// Place all the styles related to the app_diagnostics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.teal-text.text-lighten-2 {
    color: #121a19 !important;
}

#download-button-app-diagnostics {
    margin-top: 80px;
    color: #f3f5f5;
    background: linear-gradient(#c2f2f8, #f5dbf1) !important;
    font-size: 30px;
    padding: 0 50px;
    border-radius:30px;
    
}
