// Place all the styles related to the app_strategys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#app-strategies-select {
    color: black;
    text-align: center;
    margin-top: 30px;
}

#app-strategies-select-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.app-strategies-select-button {
    margin-bottom: 30px;
    color: white;
    background: linear-gradient(#c2f2f8, #f5dbf1);
    padding: 0 20px;
    font-size: 25px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 90px;
    line-height: 90px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.app-strategies-select-button img {
    position: relative;
    top: 15px;
}

.app-strategies-select-button span {
    position: relative;
    bottom: 9px;
}

#app-strategies-select-button-1 {
    margin-top: 40px;
    padding-right: 30px;
}

#app-strategies-select-button-1 img {
    margin-left: 5px;
}

#app-strategies-select-button-1 span {
    position: relative;
    left: 10px;
}

#app-strategies-select-button-2 {
    padding-left: 25px;
    padding-right: 61px;
}

#app-strategies-select-button-2 span {
    position: relative;
    left: 20px;
}

#app-strategies-select-button-3 {
    padding-left: 25px;
    padding-right: 46px;
}

#app-strategies-select-button-3 span {
    position: relative;
    left: 10px;
}

#app-strategies-select-button-4 img {
    margin-left: 5px;
}

.app-strategies-diagnostic-result-button {
    margin-top: 13px;
    color: white;
    background: rgb(72, 129, 252);
    padding: 0 20px;
    font-size: 20px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#app-strategies-show {
    color: black;
    text-align: center;
    margin-top: 5px;
}

#app-strategies-show-title {
    margin-top: 15px;
}

#app-diagnostics-result-title {
    position: relative;
    padding: 6px;
    background-image: -webkit-linear-gradient(315deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    background-image: linear-gradient(-225deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
}
  
#app-diagnostics-result-title span {
    display: block;
    padding: 1rem 2rem;
    background: white;
}

#app-strategies-show-description {
    text-align: left;
    padding: 15px 20px;
    margin: 0;
}

.app-strategies-show-box-pairs {
    margin: 2em 0;
    background: #f7fdfd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #86E4EA;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.app-strategies-show-box-pairs-title {
    border-radius: 10px;/*角の丸み*/
    font-size: 1.2em;
    background: linear-gradient(to right, #86E4EA, #03D7DE);
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.app-strategies-show-box-with {
    margin: 2em 0;
    background: #fdf7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #FD656C;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.app-strategies-show-box-with-title {
    border-radius: 10px;/*角の丸み*/
    font-size: 1.2em;
    background: linear-gradient(to right, #FD656C, #FD656B);
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.app-strategies-show-box-tapple {
    margin: 2em 0;
    background: #fff8fb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #F54C98;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.app-strategies-show-box-tapple-title {
    border-radius: 10px;/*角の丸み*/
    font-size: 1.2em;
    background: linear-gradient(to right, #F54C98, #218FF3);
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.app-strategies-show-box-tinder {
    margin: 2em 0;
    background: #fff8fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #FD267D;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.app-strategies-show-box-tinder-title {
    border-radius: 10px;/*角の丸み*/
    font-size: 1.2em;
    background: linear-gradient(to right, #FD267D, #FF7158);
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
table tr {
    border-bottom: solid 2px white;
}
  
table tr:last-child {
    border-bottom: none;
}
  
table th {
    position: relative;
    text-align: left;
    width: 30%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

table.table-pairs th {
    background: linear-gradient(to right, #86E4EA, #03D7DE);
}
  
table.table-with th {
    background: linear-gradient(to right, #FD656C, #FD656B);
}

table.table-tapple th {
    background: linear-gradient(to right, #F54C98, #218FF3);
}

table.table-tinder th {
    background: linear-gradient(to right, #FD267D, #FF7158);
}

table th:after {
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

table.table-pairs th:after {
    border-left: 10px solid #03D7DE;
}
  
table.table-with th:after {
    border-left: 10px solid #FD656B;
}

table.table-tapple th:after {
    border-left: 10px solid #218FF3;
}

table.table-tinder th:after {
    border-left: 10px solid #FF7158;
}

table td {
    width: 70%;
    background-color: #eee;
    padding: 10px 0;
}

table td i {
    position: relative;
    left: 50px;
}

table td .app-strategies-show-star-little-left {
    font-size: 10px;
    position: relative;
    left: 28px;
}

table td .app-strategies-show-star-many-right {
    font-size: 10px;
    position: relative;
    left: 75px;
}

table td .app-strategies-show-star-low-left {
    font-size: 10px;
    position: relative;
    left: 33px;
    margin-right: 10px;
}

table td .app-strategies-show-star-high-right {
    font-size: 10px;
    position: relative;
    left: 75px;
}

.fas.fa-star, .far.fa-star {
    color: #ACB6E5;//非対応のブラウザでの文字色を設定
    background: linear-gradient(0deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%); 
    -webkit-background-clip: text;//テキストでくり抜く
    -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
}

.app-strategies-flow {
    margin-top: 60px;
}

.app-strategies-show-arrow-title {
    text-align: center;
    color: black;
    font-size: 22px;
    position: relative;
    padding: 1rem .5rem;
}

.app-strategies-show-arrow-title:after {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 80%;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-image: -webkit-linear-gradient(315deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    background-image: linear-gradient(-225deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
  }

#app-strategies-show-bar {
    position: relative;
    top: 240px;
    right: 245px;
    height: 8px;
    width: 520px;
}

#app-strategies-show-arrow {
    position: relative;
    top: 470px;
    width: 30px;
    height: 30px;
}

 .switch{
    background-color:white;
    width: 65px;
    height: 8vw;
    position: relative;
    border-radius:30vw;
    border:1vw solid rgb(228, 228, 228);
    cursor: pointer;
    user-select: none;
    display:inline-block;
    top: 30px;
    left: 50%;
    transform:translate(-50%, -50%);
 }
 .switch::before, .switch::after{
    content:'';
    width:8vw;
    height:8vw;
    background-color:white;
    position:absolute;
    border-radius:50%;
    top:-18%;
    left:-3%;
    transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
    transform-origin: right center;
 
 }
 .switch::before{
    border:1vw solid lightblue;
 }
 .switch::after{
    background: #639cff;
    border:1vw solid #4481eb;
 }
 input:checked + .switch:before {
    background: #D3F0FB;
    transform: translateX(108%);
    border:1vw solid #4481eb;
 }
 input + .switch .make_girlfriend{
    color:#4481eb;
    font-weight: bold;
 }
 input:checked + .switch .play{
    color:lightblue;
 }
 input + .switch .play{
    color:#ccc;
 }
 input:checked + .switch .make_girlfriend{
    color:#ccc;
 }
 input:checked + .switch:after {
    background: #D3F0FB;
    transform: translateX(108%);
    border:1vw solid lightblue;
 }
 .make_girlfriend, .play{
    position:absolute;
    font-weight:lighter;
    color:#ccc;
 }
 .make_girlfriend{
    position: relative;
    bottom: 20px;
    right: 120px;
    font-size: 20px;
    width: 100px;
 }
 .play{
    position: relative;
    left: 100px;
    bottom: 67px;
    font-size: 20px;
 }

 .app-strategies-step-button {
    margin-bottom: 20px;
    color: white;
    padding: 0 20px;
    font-size: 17px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    word-break: break-all;
 }

 .app-strategies-step-button.play-button {
    background: linear-gradient(to top right, red 0%, red 100%);
 }

 .app-strategies-step-button-wrapper {
    position: relative;
    bottom: 85px;
    text-align: center;
 }