// Place all the styles related to the app_strategys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#app-strategies-select {
    color: black;
    text-align: center;
    margin-top: 30px;
}

#app-strategies-select-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.app-strategies-select-button {
    margin-bottom: 30px;
    color: white;
    background: linear-gradient(#c2f2f8, #f5dbf1);
    padding: 0 20px;
    font-size: 25px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 90px;
    line-height: 90px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.app-strategies-select-button img {
    position: relative;
    top: 15px;
}

.app-strategies-select-button span {
    position: relative;
    bottom: 9px;
}

#app-strategies-select-button-1 {
    margin-top: 40px;
    padding-right: 30px;
}

#app-strategies-select-button-1 img {
    margin-left: 5px;
}

#app-strategies-select-button-1 span {
    position: relative;
    left: 10px;
}

#app-strategies-select-button-2 {
    padding-left: 25px;
    padding-right: 61px;
}

#app-strategies-select-button-2 span {
    position: relative;
    left: 20px;
}

#app-strategies-select-button-3 {
    padding-left: 25px;
    padding-right: 46px;
}

#app-strategies-select-button-3 span {
    position: relative;
    left: 10px;
}

#app-strategies-select-button-4 img {
    margin-left: 5px;
}

.app-strategies-diagnostic-result-button {
    margin-top: 13px;
    color: white;
    background: rgb(72, 129, 252);
    padding: 0 20px;
    font-size: 20px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#app-strategies-show {
    color: black;
    text-align: center;
    margin-top: 5px;
}

#app-strategies-show-title {
    margin-top: 15px;
}

#app-diagnostics-result-title {
    position: relative;
    padding: 6px;
    background-image: -webkit-linear-gradient(315deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    background-image: linear-gradient(-225deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
}
  
#app-diagnostics-result-title span {
    display: block;
    padding: 1rem 2rem;
    background: white;
}

#app-strategies-show-description {
    text-align: left;
    padding: 15px 20px;
    margin: 0;
}

.app-strategies-show-box-pairs {
    margin: 2em 0;
    background: #f7fdfd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #86E4EA;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.app-strategies-show-box-pairs-title {
    border-radius: 10px;/*角の丸み*/
    font-size: 1.2em;
    background: linear-gradient(to right, #86E4EA, #03D7DE);
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.app-strategies-show-box-with {
    margin: 2em 0;
    background: #fdf7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #FD656C;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.app-strategies-show-box-with-title {
    border-radius: 10px;/*角の丸み*/
    font-size: 1.2em;
    background: linear-gradient(to right, #FD656C, #FD656B);
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.app-strategies-show-box-tapple {
    margin: 2em 0;
    background: #fff8fb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #F54C98;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.app-strategies-show-box-tapple-title {
    border-radius: 10px;/*角の丸み*/
    font-size: 1.2em;
    background: linear-gradient(to right, #F54C98, #218FF3);
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.app-strategies-show-box-tinder {
    margin: 2em 0;
    background: #fff8fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #FD267D;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.app-strategies-show-box-tinder-title {
    border-radius: 10px;/*角の丸み*/
    font-size: 1.2em;
    background: linear-gradient(to right, #FD267D, #FF7158);
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
table tr {
    border-bottom: solid 2px white;
}
  
table tr:last-child {
    border-bottom: none;
}
  
table th {
    position: relative;
    text-align: left;
    width: 30%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

table.table-pairs th {
    background: linear-gradient(to right, #86E4EA, #03D7DE);
}
  
table.table-with th {
    background: linear-gradient(to right, #FD656C, #FD656B);
}

table.table-tapple th {
    background: linear-gradient(to right, #F54C98, #218FF3);
}

table.table-tinder th {
    background: linear-gradient(to right, #FD267D, #FF7158);
}

table th:after {
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

table.table-pairs th:after {
    border-left: 10px solid #03D7DE;
}
  
table.table-with th:after {
    border-left: 10px solid #FD656B;
}

table.table-tapple th:after {
    border-left: 10px solid #218FF3;
}

table.table-tinder th:after {
    border-left: 10px solid #FF7158;
}

table td {
    width: 70%;
    background-color: #eee;
    padding: 10px 0;
}

table td i {
    position: relative;
    left: 50px;
}

table td .app-strategies-show-star-little-left {
    font-size: 10px;
    position: relative;
    left: 28px;
}

table td .app-strategies-show-star-many-right {
    font-size: 10px;
    position: relative;
    left: 75px;
}

table td .app-strategies-show-star-low-left {
    font-size: 10px;
    position: relative;
    left: 33px;
    margin-right: 10px;
}

table td .app-strategies-show-star-high-right {
    font-size: 10px;
    position: relative;
    left: 75px;
}

.fas.fa-star, .far.fa-star {
    color: #ACB6E5;//非対応のブラウザでの文字色を設定
    background: linear-gradient(0deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%); 
    -webkit-background-clip: text;//テキストでくり抜く
    -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
}

.app-strategies-flow {
    margin-top: 60px;
}

.app-strategies-show-arrow-title {
    text-align: center;
    color: black;
    font-size: 22px;
    position: relative;
    padding: 1rem .5rem;
}

.app-strategies-show-arrow-title:after {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 80%;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-image: -webkit-linear-gradient(315deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    background-image: linear-gradient(-225deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
  }

#app-strategies-show-bar {
    position: relative;
    top: 220px;
    right: 245px;
    height: 8px;
    width: 520px;
}

#app-strategies-show-arrow {
    position: relative;
    top: 450px;
    width: 30px;
    height: 30px;
}

 .switch{
    background-color:white;
    width: 45px;
    height: 8vw;
    position: relative;
    border-radius:30vw;
    border:1vw solid;
    border-color: rgb(194, 194, 194);
    cursor: pointer;
    user-select: none;
    display:inline-block;
    top: 30px;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 0;
 }

 .switch::before, .switch::after{
    content:'';
    width:8vw;
    height:8vw;
    background-color:white;
    position:absolute;
    border-radius:50%;
    top:-18%;
    left:-3%;
    transition: all 20ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
    transform-origin: right center;
 
 }

 .switch::after{
    background: #639cff;
    border:1vw solid #4481eb;
 }

 input:checked + .switch:before {
    transform: translateX(38%);
    border:1vw solid #4481eb;
 }

 input:checked + .switch:after {
    background: #639cff;
    transform: translateX(38%);
    border:1vw solid rgb(194, 194, 194);
 }

.app-strategies-toggle-radius-button-center {
    position: relative;
    text-align: center;
    bottom: 15px;
    left: 5px;
}

 @media screen and (min-width: 375px) and ( max-width: 385px) {
    #toggle-radius-button {
        position: relative;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: #ff5757;
        border:1vw solid #ff0844;
        border-radius: 50%;
        text-align: center;
        z-index: 1;
    }
 }

 @media screen and (min-width: 386px) and ( max-width: 400px) {
    #toggle-radius-button {
       position: relative;
       bottom: 1px;
       left: 1px;
       width: 30px;
       height: 30px;
       line-height: 30px;
       background: #ff5757;
       border:1vw solid #ff0844;
       border-radius: 50%;
       text-align: center;
       z-index: 1;
    }
 }

 @media screen and (min-width: 401px) and ( max-width: 425px) {
     #toggle-radius-button {
        position: relative;
        bottom: 3px;
        left: 3px;
        width: 20px;
        height: 30px;
        line-height: 30px;
        background: #ff5757;
        border:1vw solid #ff0844;
        border-radius: 50%;
        text-align: center;
        z-index: 1;
    }
 }

 @media screen and (min-width: 426px) and ( max-width: 440px) {
    #toggle-radius-button {
       position: relative;
       bottom: 4px;
       left: 4px;
       width: 30px;
       height: 30px;
       line-height: 30px;
       background: #ff5757;
       border:1vw solid #ff0844;
       border-radius: 50%;
       text-align: center;
       z-index: 1;
   }
}
  #make_girlfriend_character_only {
    color: #4481eb;
      position: relative;
      left: 152px;
      top: 17px;
      margin-bottom: 115px;
      font-weight: bold;
      font-size: 18px;
  }

  .make-girlfriend-character {
      color: rgb(194, 194, 194);
      position: relative;
      bottom: 36px;
      left: 65px;
      width: 100px;
      font-weight: bold;
      font-size: 18px;
  }

  .make-girlfriend-character.on {
      color: #4481eb;
  }

  .play-character {
      color: rgb(194, 194, 194);
      position: relative;
      bottom: 81.5px;
      left: 255px;
      width: 60px;
      font-weight: bold;
      font-size: 18px;
  }

  .play-character.on {
      color: #ff0844;
  }

  #super-play-character {
    color: #f55799d7;
    position: relative;
    left: 160px;
    top: 17px;
    margin-bottom: 115px;
    font-weight: bold;
    font-size: 18px;
}

 .app-strategies-step-button {
    margin-bottom: 20px;
    color: white;
    padding: 0 20px;
    font-size: 17px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    word-break: break-all;
 }

 .app-strategies-step-button.make_girlfriend-button {
    background: linear-gradient(to top right, #4481eb 0%, #04befe 100%);
 }

 .app-strategies-step-button.play-button {
    background: linear-gradient(to top right, #ff0844 0%, #ff9c99 100%);
 }

 .app-strategies-step-button.super-play-button {
    background: linear-gradient(to top right, #f5576c 0%, #fb93dc 100%);
 }

 .app-strategies-step-button-wrapper {
    position: relative;
    bottom: 110px;
    text-align: center;
 }

#test {
    position: relative;
    top: 1000px; 
    color: black;
}

/* Old-Select */

.old-select{
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* New-Select */

.new-select{
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    color: white;
    line-height: 50px;
    position: relative;
    bottom: 11px;
}

.new-select .selection:active{
    transform:         rotateX(42deg);
    -o-transform:      rotateX(42deg);
    -ms-transform:     rotateX(42deg);
    -moz-transform:    rotateX(42deg);
    -webkit-transform: rotateX(42deg);
    transform-style:         preserve-3d;
    -o-transform-style:      preserve-3d;
    -ms-transform-style:     preserve-3d;
    -moz-transform-style:    preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin:         top;
    -o-transform-origin:      top;
    -ms-transform-origin:     top;
    -moz-transform-origin:    top;
    -webkit-transform-origin: top;
    transition:         transform         200ms ease-in-out;
    -o-transition:      -o-transform      200ms ease-in-out;
    -ms-transition:     -ms-transform     200ms ease-in-out;
    -moz-transition:    -moz-transform    200ms ease-in-out;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
}

.new-select .selection{
    border-radius: 40px;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    
    cursor: pointer;
    position: relative;
    z-index: 20; /* Doit être supérieur au nombre d'option */
    
    transform:         rotateX(0deg);
    -o-transform:      rotateX(0deg);
    -ms-transform:     rotateX(0deg);
    -moz-transform:    rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform-style:         preserve-3d;
    -o-transform-style:      preserve-3d;
    -ms-transform-style:     preserve-3d;
    -moz-transform-style:    preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin:         top;
    -o-transform-origin:      top;
    -ms-transform-origin:     top;
    -moz-transform-origin:    top;
    -webkit-transform-origin: top;
    transition:         transform         200ms ease-in-out;
    -o-transition:      -o-transform      200ms ease-in-out;
    -ms-transition:     -ms-transform     200ms ease-in-out;
    -moz-transition:    -moz-transform    200ms ease-in-out;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
}

.new-select .selection.pairs {
    background: linear-gradient(to right, #86E4EA, #03D7DE);
}

.new-select .selection.with {
    background: linear-gradient(to right, #FD656C, #FD656B);
}

.new-select .selection.tapple {
    background: linear-gradient(to right, #F54C98, #218FF3);
}

.new-select .selection.tinder {
    background: linear-gradient(to right, #FD267D, #FF7158);
}

.new-select .selection p{
    width: calc(100% - 60px);
    position: relative;
    top: 9px;
    
    transition:         all 200ms ease-in-out;
    -o-transition:      all 200ms ease-in-out;
    -ms-transition:     all 200ms ease-in-out;
    -moz-transition:    all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

.new-select .selection:hover p, .new-select .selection.open p{
    color: white;
}

.new-select .selection i{
    display: block;
    width: 1px;
    height: 110%;
    position: absolute;
    right: -1px; top: 5%; bottom: 30%;
    border: none;
    background-color: white;
}

.new-select .selection > span{
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 8px 0 8px; /* Height: 14px / Width: 16px */
    border-color: white transparent transparent transparent;
    
    position: absolute;
    top: 18px; /* 50 / 2 - 14 / 2 */
    right: 22px; /* 60 / 2 - 16 / 2 */
}

.new-select .selection.open > span{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 14px 8px;
    border-color: transparent transparent white transparent;
}

.new-option{
    text-align: center;
    background-color: white;
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    
    position: absolute;
    left: 0; right: 0;
    
    transition:         all 300ms ease-in-out;
    -o-transition:      all 300ms ease-in-out;
    -ms-transition:     all 300ms ease-in-out;
    -moz-transition:    all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

.new-option p{
    width: calc(100% - 60px);
}

.new-option.reveal:hover{
    background-color: rgb(140, 224, 255);
}

#app-strategies-error-message {
    color: red;
    position: relative;
    text-align: center;
    bottom: 16px;
    font-size: 15px;
}

#app-strategies-app-select-pulldown {
    color: black;
    position: relative;
    left: 2.5px;
    top: 2px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    user-select: none;
    z-index: 1;
    transition: .3s ease-out;
    width: 195px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    word-break: break-all;
}
