// Place all the styles related to the app_diagnostics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#app-diagnostics-title {
    color: #121a19;
    font-weight: bold;
    margin-top: 50px;
    position: relative;
    padding: 6px;
    background-image: -webkit-linear-gradient(315deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    background-image: linear-gradient(-225deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
}

#app-diagnostics-title span {
    display: block;
    padding: 1rem 1rem;
    background: white;
}

#app-diagnostics-button {
    margin-top: 80px;
    color: white;
    background: linear-gradient(#c2f2f8, #f5dbf1);
    font-size: 30px;
    padding: 0 50px;
    border-radius:30px;
    
}

.app-diagnostics-text {
    color: black;
    text-align: center;
    margin-top: 20px;
}

#app-diagnostics-error-message {
    color: red;
}

#app-diagnostics-select-submit-button {
    margin-top: 15px;
    color: white;
    background: linear-gradient(#c2f2f8, #f5dbf1);
    font-size: 22px;
    padding: 0 20px;
    border-radius:30px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#app-diagnostics-page {
    color: #121a19;
    text-align: right;
}

.app-diagnostics-answer-btn {
    color: black;
    height: 38px;
    padding: 0px 14px;
    font-size: 14px;
    letter-spacing: 3.5px;
    border-radius: 30px;
    margin: 15px;
}

.description-long {
    font-size: 11px !important;
    padding: 0px 7px !important;
    letter-spacing: 0.5px !important;
}

.buttonwhite {
    background: white !important;
}

.buttonred {
    background: rgb(248, 132, 132) !important;
    color: white !important;
}

.buttonblue {
    background: rgb(132, 196, 248) !important;
    color: white !important;
}

.buttongreen {
    background: rgb(132, 248, 184) !important;
    color: white !important;
}

.app-diagnostics-answer-box-1 {
    padding: 15px 1em;
    margin: 20px 0;
    font-weight: bold;
    background: -webkit-repeating-linear-gradient(-45deg, #fff0f0, #fff0f0 3px,#ffe9e9 3px, #ffe9e9 7px);
    background: repeating-linear-gradient(-45deg, #fff0f0, #fff0f0 3px,#ffe9e9 3px, #ffe9e9 7px);
    border: solid 0.5px #fac4c4;/*線*/
    border-radius: 10px;/*角の丸み*/
    display:flex;
    flex-flow: column;
}

.app-diagnostics-answer-box-2 {
    padding: 15px 1em;
    margin: 20px 0;
    font-weight: bold;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    border: solid 0.5px #c4e0fa;/*線*/
    border-radius: 10px;/*角の丸み*/
    display:flex;
    flex-flow: column;
}

.app-diagnostics-answer-box-3 {
    padding: 15px 1em;
    margin: 20px 0;
    font-weight: bold;
    background: -webkit-repeating-linear-gradient(-45deg, rgb(240, 255, 247), #f0fff7 3px,#e9fff3 3px, #e9fff3 7px);
    background: repeating-linear-gradient(-45deg, #f0fff7, #f0fff7 3px,#e9fff2 3px, #e9fff2 7px);
    border: solid 0.5px #c4fadc;/*線*/
    border-radius: 10px;/*角の丸み*/
    display:flex;
    flex-flow: column;
}

.background-gray {
    background:rgb(245, 244, 244);
}

#app-diagnostics-result {
    color: black;
    text-align: center;
}

#app-diagnostics-result-title {
    position: relative;
    padding: 6px;
    background-image: -webkit-linear-gradient(315deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    background-image: linear-gradient(-225deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(72, 129, 252);
}
  
#app-diagnostics-result-title span {
    display: block;
    padding: 1rem 2rem;
    background: white;
}

.app-diagnostics-result-person {
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-diagnostics-result-strong {
    position: relative;
    right: 13px;
    color: #ff00d9;
    font-size: 21px;
}

.app-diagnostics-result-weak {
    position: relative;
    right: 13px;
    color: #00e1ff;
    font-size: 21px;
}

#app-diagnostic-result-arrow {
    float: left;
}

#app-diagnostic-result-arrow ul {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 400px;
    max-width: 50px;
}

#app-diagnostic-result-arrow ul li:nth-of-type(1) {
    right: 5px;
    margin-bottom: 45px;
}

#app-diagnostic-result-arrow ul li:nth-of-type(2) {
    margin-bottom: 124.5px;
    padding-top: 20px;
}

#app-diagnostic-result-arrow ul li:nth-of-type(3) {
    margin-bottom: 59px;
}

#app-diagnostic-result-arrow ul li:nth-of-type(4) {
    right: 5px;
}

.app-diagnostic-result-app {
    margin-bottom: -25px;
    margin-top: 8px;
}

.app-diagnostic-result-app-name {
    position: relative;
    right: 92px;
}

.app-diagnostic-result-icon-and-description {
    margin-top: -10px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.app-diagnostic-result-icon-and-description li:nth-of-type(1) {
    margin-left: 10px;
}

.app-diagnostic-result-icon-and-description li:nth-of-type(2) {
    margin-left: 20px;
    margin-top: -5px;
}

.float-left-lift {
    clear: left;
}

.app-diagnostic-result-bar {
    height: 20px;
    width: 166px;
    color: #c2f2f8;
    right: 64px;
}

.rotate-top {
    background: linear-gradient(90deg, #c2f2f8, #f5dbf1) !important;
    transform: rotate(270deg);
}

.rotate-bottom {
    background: linear-gradient(90deg, #c2f2f8, #f5dbf1) !important;
    transform: rotate(90deg);
}

.app-diagnostic-result-bar-move-top {
    background-color: #f5dbf1 !important;
}

.app-diagnostic-result-bar-move-bottom {
    background-color: #c2f2f8 !important;
}

.arrow-clippath-top {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #f5dbf1;
    clip-path: polygon(50% 14%, 0% 100%, 100% 100%);
}

.arrow-clippath-bottom {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #c2f2f8;
    clip-path: polygon(50% 14%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
}

.app-diagnostic-result-app-select-button {
    margin-top: 25px;
    color: white;
    background: linear-gradient(#c2f2f8, #f5dbf1);
    font-size: 22px;
    padding: 0 20px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
