// Place all the styles related to the date_plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#date_plans_index {
    color: black;
    text-align: center;
    margin-top: 50px;
}

#date_plans_index_title {
    font-weight: bold;
    margin: 0 -0.5rem;
    margin-bottom: 70px !important;
}

.date_plans_index_select_button {
    margin-bottom: 40px;
    color: white;
    width: 354px;
    padding: 0 15px;
    font-size: 25px;
    border-radius: 60px;
    position: relative;
    right: 8.5px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 110px;
    line-height: 110px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.date_plans_index_select_button.make_girlfriend {
    background: linear-gradient(to top right, #4481eb 0%, #04befe 100%);
}

.date_plans_index_select_button.play {
    background: linear-gradient(to top right, #ff0844 0%, #ff9c99 100%);
    padding: 0 80px;
}

.date_plans_index_select_button.play img {
    position: relative;
    right: 25px;
}

.date_plans_index_select_button.play span{
    position: relative;
    left: 2px;
}

.date_plans_index_select_button.super_play {
    background: linear-gradient(to top right, #f5576c 0%, #fb93dc 100%);
    padding: 0 100px;
}

.date_plans_index_select_button.super_play img {
    position: relative;
    right: 20px;
}

.date_plans_index_select_button.super_play span {
    position: relative;
    left: 5px;
}

.date_plans_index_select_button img {
    position: relative;
    top: 21.5px;
    margin-left: 5px;
}

#date_plans_container {
    color: black;
    text-align: center;
    margin-top: 25px;
}

.date_plans_purpose {
    color: white;
    margin: 20px auto;
    height: 50px;
    line-height: 50px;
    width: 250px;
    font-size: 30px;
    border-radius: 40px;/*角の丸み*/
}

.date_plans_purpose.make_girlfriend {
    background: linear-gradient(to top right, #4481eb 0%, #04befe 100%);
}

.date_plans_purpose.play {
    background: linear-gradient(to top right, #ff0844 0%, #ff9c99 100%);
}

.date_plans_purpose.super_play {
    background: linear-gradient(to top right, #f5576c 0%, #fb93dc 100%);
}

.date_plans_each_title {
    color: #121a19;
    font-weight: bold;
    margin: 50px 0;
    position: relative;
    padding: 6px;
}

.date_plans_each_title.make_girlfriend {
    background: linear-gradient(to top right, #4481eb 0%, #04befe 100%);
    background: linear-gradient(to top right, #4481eb 0%, #04befe 100%);
}

.date_plans_each_title.play {
    background: linear-gradient(to top right, #ff0844 0%, #ff9c99 100%);
    background: linear-gradient(to top right, #ff0844 0%, #ff9c99 100%);
}

.date_plans_each_title.super_play {
    background: linear-gradient(to top right, #f5576c 0%, #fb93dc 100%);
    background: linear-gradient(to top right, #f5576c 0%, #fb93dc 100%);
}

.date_plans_each_title span {
    display: block;
    padding: 1rem 1rem;
    background: white;
}

.date_plans_play_special_report {
    color: #ff0844;
    text-align: left;
    font-weight: bold;
    font-size: 19px;
}

.date_plans-box-make_girlfriend {
    margin: 2em 0;
    background: #f9fbff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #4481eb;/*線*/
    border-radius: 20px;/*角の丸み*/
}

.date_plans-box-make_girlfriend-title {
    border-radius: 20px;/*角の丸み*/
    font-size: 24px;
    background: linear-gradient(to top right, #4481eb 0%, #04befe 100%);
    padding: 20px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.date_plans-box-play {
    margin: 2em 0;
    background: #fffafb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #ff0844;/*線*/
    border-radius: 20px;/*角の丸み*/
}

.date_plans-box-play-title {
    border-radius: 20px;/*角の丸み*/
    font-size: 24px;
    background: linear-gradient(to top right, #ff0844 0%, #ff9c99 100%);
    padding: 20px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.date_plans-box-super_play {
    margin: 2em 0;
    background: #fffafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #f5576c;/*線*/
    border-radius: 20px;/*角の丸み*/
}

.date_plans-box-super_play-title {
    border-radius: 20px;/*角の丸み*/
    font-size: 24px;
    background: linear-gradient(to top right, #f5576c 0%, #fb93dc 100%);
    padding: 20px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.date_plans_body {
    text-align: left;
    padding: 15px 20px;
    margin: 0;
}

.date_plans_body-make_girlfriend {
    text-align: center;
    padding-top: 15px;
    margin: 0;
    color: #4481eb;
    font-weight: bold;
    font-size: 22px;
}

.date_plans_body-play {
    text-align: center;
    padding-top: 15px;
    margin: 0;
    color: #ff0844;
    font-weight: bold;
    font-size: 22px;
}

.date_plans_body-super_play {
    text-align: center;
    padding-top: 15px;
    margin: 0;
    color: #f5576c;
    font-weight: bold;
    font-size: 22px;
}

.date_plans_body-place {
    text-align: center;
    padding: 15px 0;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.arrow-icon-make_girlfriend {
    color: #ACB6E5;//非対応のブラウザでの文字色を設定
    background: linear-gradient(to top right, #4481eb 0%, #04befe 100%);//背景色にグラデーションを指定
    -webkit-background-clip: text;//テキストでくり抜く
    -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    font-size: 35px;
}

.arrow-icon-play {
    color: #ACB6E5;//非対応のブラウザでの文字色を設定
    background: linear-gradient(to top right, #ff0844 0%, #ff9c99 100%);//背景色にグラデーションを指定
    -webkit-background-clip: text;//テキストでくり抜く
    -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    font-size: 35px;
}

.arrow-icon-super_play {
    color: #ACB6E5;//非対応のブラウザでの文字色を設定
    background: linear-gradient(to top right, #f5576c 0%, #fb93dc 100%);//背景色にグラデーションを指定
    -webkit-background-clip: text;//テキストでくり抜く
    -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    font-size: 35px;
}

.date_plans_button {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 0 20px;
    font-size: 17px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    word-break: break-all;
 }

 .date_plans_button.make_girlfriend {
    background: linear-gradient(to top right, #4481eb 0%, #04befe 100%);
 }

 .date_plans_button.play {
    background: linear-gradient(to top right, #ff0844 0%, #ff9c99 100%);
 }

 .date_plans_button.super_play {
    background: linear-gradient(to top right, #f5576c 0%, #fb93dc 100%);
 }

 .date_plans_detail_body-place {
    text-align: center;
    padding: 15px 0;
    margin: 0;
    font-weight: bold;
    font-size: 23px;
 }

 .arrow-icon-detail-make_girlfriend {
    color: #ACB6E5;//非対応のブラウザでの文字色を設定
    background: linear-gradient(to top right, #4481eb 0%, #04befe 100%);//背景色にグラデーションを指定
    -webkit-background-clip: text;//テキストでくり抜く
    -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    font-size: 38px;
}

.arrow-icon-detail-play {
    color: #ACB6E5;//非対応のブラウザでの文字色を設定
    background: linear-gradient(to top right, #ff0844 0%, #ff9c99 100%);//背景色にグラデーションを指定
    -webkit-background-clip: text;//テキストでくり抜く
    -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    font-size: 38px;
}

.arrow-icon-detail-super_play {
    color: #ACB6E5;//非対応のブラウザでの文字色を設定
    background: linear-gradient(to top right, #f5576c 0%, #fb93dc 100%);//背景色にグラデーションを指定
    -webkit-background-clip: text;//テキストでくり抜く
    -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    font-size: 38px;
}

.date_plans_body-detail {
    text-align: left;
    padding: 15px 20px;
    margin: 0;
}

.date_plans_body-detail-make_girlfriend {
    text-align: center;
    margin: 0 0 25px 0;
    color: #4481eb;
    font-weight: bold;
    font-size: 22px;
}

.date_plans_body-detail-play {
    text-align: center;
    margin: 0 0 25px 0;
    color: #ff0844;
    font-weight: bold;
    font-size: 22px;
}

.date_plans_body-detail-super_play {
    text-align: center;
    margin: 0 0 25px 0;
    color: #f5576c;
    font-weight: bold;
    font-size: 22px;
}
