// Place all the styles related to the date_results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#date_result {
    color: black;
    text-align: center;
}

#date_result_title {
    position: relative;
    padding: 6px;
    background-image: -webkit-linear-gradient(315deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    background-image: linear-gradient(-225deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    font-weight: bold;
    margin-bottom: 30px;
}
  
#date_result_title span {
    display: block;
    padding: 1rem 1.4rem;
    background: white;
}

.date_result_app_icon_image {
    margin-bottom: 25px;
}

.date_result_targets_profile {
    margin-bottom: 25px;
}

.date_result_schedule_date_count {
    font-size: 25px;
}

.date_result_schedule_appointment {
    position: relative;
    bottom: 23px;
    right: 10px;
    font-size: 33px;
}

.date_result_schedule_date_plan {
    position: relative;
    bottom: 21px;
    left: 16px;
    font-size: 33px;
}

.date_result_schedule_date_plan.make_girlfriend {
    color: #4481eb;
}

.date_result_schedule_date_plan.play {
    color: #ff0844;
}

.date_result_schedule_date_plan.super_play {
    color: #f5576c;
}

#date_result_form {
    margin-top: 25px;
}

.date_result_task_wrapper {
    margin: 15px auto;
    width: 340px;
    height: 50px;
    border: 1px solid;
    border-color: black;
    border-radius: 50px;
 }

 @media screen and (min-width: 375px) and ( max-width: 385px) {
    .date_result_task_wrapper.wrapper_1 {
        position: relative;
        right: 18px;
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_2 {
        position: relative;
        right: 18px;
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_3 {
        position: relative;
        right: 18px;
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_4 {
        position: relative;
        right: 18px;
        width: 373px;
        height: 110px;
     }
 }

 @media screen and (min-width: 386px) and ( max-width: 400px) {
    .date_result_task_wrapper.wrapper_1 {
        position: relative;
        right: 11px;
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_2 {
        position: relative;
        right: 11px;
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_3 {
        position: relative;
        right: 11px;
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_4 {
        position: relative;
        right: 11px;
        width: 373px;
        height: 110px;
     }
 }

 @media screen and (min-width: 401px) and ( max-width: 425px) {
    .date_result_task_wrapper.wrapper_1 {
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_2 {
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_3 {
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_4 {
        width: 373px;
        height: 110px;
     }
 }

 @media screen and (min-width: 426px) and ( max-width: 440px) {
    .date_result_task_wrapper.wrapper_1 {
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_2 {
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_3 {
        width: 373px;
        height: 110px;
     }

     .date_result_task_wrapper.wrapper_4 {
        width: 373px;
        height: 110px;
     }
  }

 .date_result_task_wrapper.wrapper_1.margin {
    margin-top: 25px;
 }

 .date_result_task_name {
    position: relative;
    top: 10px;
    right: 80px;
    margin: 0px 15px 0px 2px;
    font-size: 17px;
}

 .date_result_task_name.task_name_1 {
    top: 10px;
    left: 4px;
}

.date_result_task_name.task_name_2 {
    top: 10px;
    left: 7px;
}

.date_result_task_name.task_name_3 {
    top: 10px;
    left: 3px;
}

.date_result_task_name.task_name_4 {
    top: 10px;
    left: 3px;
}

.date_result_task_button {
    width: 140px !important;
    left: 75px;
    top: -21px;
    font-size: 13px !important;
}

#task_select_button_1 {
    top: 11px;
    left: 2px;
}

#task_select_button_2 {
    top: 11px;
    left: 2px;
}

#task_select_button_3 {
    top: 11px;
    left: 0px;
}

#task_select_button_4 {
    top: 11px;
    left: 0px;
}

#task_select_button_5 {
    left: 75px;
}

#task_select_button_6 {
    left: 75px;
}

#task_select_button_7 {
    left: 75px;
}

#task_select_button_10 {
    left: 74.5px;
}

.date_results_unreported_passed {
    margin-top: 50px;
    margin-bottom: 60px;
}

.date_results_index_each_button {
    color: black;
    padding: 0 0;
    font-size: 15px;
    position: relative;
    right: 6px;
    cursor: pointer;
    display: inline-block;
    width: 92vw;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border-bottom: solid 1px rgb(226, 226, 226);/*線*/
}

#date_results_index_each_th {
    height: 50px;
    line-height: 50px;
    border-top: solid 1px rgb(226, 226, 226);/*線*/
}

#date_results_index_each_th span {
    position: relative;
    right: 5px;
    margin: 0 4px;
}

#date_results_index_each_th span:nth-child(1) {
    right: 9px;
}

@media screen and (min-width: 375px) and ( max-width: 385px) {
    #date_results_index_each_th span:nth-child(1) {
        right: 2px !important;
    }

    #date_results_index_each_button_td span:nth-child(1) {
        right: 13px !important;
    }

    #date_results_index_each_button_td img {
        left: 7.5px !important;
    }

    #date_results_index_each_button_td span:nth-child(4) {
        left: 19px !important;
    }
 }

 @media screen and (min-width: 386px) and ( max-width: 400px) {
    #date_results_index_each_th span:nth-child(1) {
        right: 2px !important;
    }

    #date_results_index_each_button_td span:nth-child(1) {
        right: 16px !important;
    }
 }

 @media screen and (min-width: 401px) and ( max-width: 425px) {
     
 }

 @media screen and (min-width: 426px) and ( max-width: 440px) {
    
}

#date_results_index_each_th span:nth-child(2) {
    margin: 0 33px;
}

#date_results_index_each_th span:nth-child(3) {
    right: 2px !important;
    margin-right: 0px;
}

#date_results_index_each_th .date_results_target_name_span {
    right: 2.5px !important;
    margin-left: 33px;
}

#date_results_index_each_button_td span:nth-child(1) {
    display: inline-block;
    position: relative;
    width: 45px;
    right: 23px;
    bottom: 10px;
    font-size: 16px;
}

#date_results_index_each_button_td span:nth-child(2) {
    display: inline-block;
    width: 130px;
    position: relative;
    right: 8.5px;
    bottom: 10px;
    font-size: 17px;
}

#date_results_index_each_button_td img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 9px;
    left: 10px;
}

#date_results_index_each_button_td span:nth-child(4) {
    display: inline-block;
    width: 70px;
    position: relative;
    left: 22px;
    bottom: 10px;
    font-size: 16px;
}

#date_results_index_each_button_td span:nth-child(3).make_girlfriend {
    color: #4481eb;
}

#date_results_index_each_button_td span:nth-child(3).play {
    color: #ff0844;
}

#date_results_index_each_button_td span:nth-child(3).super_play {
    color: #f5576c;
}


/* ▼リンクの上にマウスが載った際の装飾(背景色だけ指定) */
#date_results_index_each_button_td:hover { 
    background: #ffbae0; /*背景の色を変える*/
}

.box26 {
    position: relative;
    margin: 2em -15px;
    padding: 0.5em 13px;
    border: solid 3px #e8198b;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 160px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #e8198b;
    font-weight: bold;
}
.box26 p {
    margin: 0; 
    padding: 0;
}

.date_schedules_unreported_passed_delete {
    font-size: 30px;
    color: red;
}

.date_result_delete_button {
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    padding: 0 20px;
    border-radius: 60px;
    position: relative;
    right: 1.5px;
    top: 10px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    word-break: break-all;
    background: red;
}

.date_result_history_button {
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 10px 28px;
    font-size: 24px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 60px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    word-break: break-all;
    background: linear-gradient(#c2f2f8, #f5dbf1);
}

.date_result_history_task_name {
    position: relative;
    top: 10px;
    right: 81px;
    margin: 0px 15px 0px 2px;
    font-size: 17px;
}

 .date_result_history_task_name.task_name_1 {
    top: 15px;
    left: 7px;
}

.date_result_history_task_name.task_name_2 {
    top: 15px;
    left: 7px;
}

.date_result_history_task_name.task_name_3 {
    top: 15px;
    left: 3px;
}

.date_result_history_task_name.task_name_4 {
    top: 15px;
    left: 3px;
}

.date_result_history_task_result {
    position: relative;
    margin: 0 auto;
    left: 100px;
    bottom: 18px;
    font-size: 24px !important;
    color: gray;
}

#history_task_result_1 {
    top: 16px;
    left: -1.5px;
}

#history_task_result_2 {
    top: 16px;
    left: -1.5px;
}

#history_task_result_3 {
    top: 16px;
    left: -1.5px;
}

#history_task_result_4 {
    top: 16px;
    left: -1.5px;
}

#history_task_result_5 {
    left: 100px;
}

#history_task_result_6 {
    left: 100px;
}

#history_task_result_7 {
    left: 100px;
}

#history_task_result_10 {
    left: 100px;
}

.date_schedule_tasks_all_success {
    color: rgb(0, 241, 0);
    font-size: 30px;
    position: relative;
    left: 10px;
}
