.hidden {
    display: none !important;
 }

#hidden {
    display: none !important;
 }

.mini-text{font-size:10px;}/*文字大きさ*/

ul.bottom-menu {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height:85px;/*高さ*/
    margin:0;
    padding:0;
    background-color: white;/*背景色*/
    border-top:1px solid #dad8d8;/*バーの上の線*/
    z-index:30;}

ul.bottom-menu li {
    float:left;
    width:25%;
    background-color: white;/*背景色*/
    list-style-type:none;
    text-align:center;
    font-size:25px;/*アイコンのサイズ*/}

.bottom-menu li a {
    display: block;
    color:#808080;/*アイコン＆文字の色*/
    padding-top:10px;
    padding-bottom:5px;
    line-height:10px;
    text-decoration:none;}

.bottom-menu li a:hover {
    color:#a9a9a9;/*マウスオーバー時の色*/}

/* === 展開メニュー === */

ul.menu-second-level {
    visibility: hidden;
    opacity: 0;
    z-index:1;}

ul.menu-second-level li a{
    border-top:1px dashed #a9a9a9;/*展開の枠点線*/
    font-size:15px;/*展開メニューの文字サイズ*/
    line-height:30px;/*文字の縦幅*/}

.menu-second-level li a:hover {
    height:100%;
    background: lightgrey;/*マウスオーバーの色*/}

li.menu-width-max ul.menu-second-level {
    position: absolute;
    bottom: 85px;/*高さ*/
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding:0;}

li.menu-width-max:hover ul.menu-second-level {
    bottom: 85px;/*高さ*/
    visibility: visible;
    opacity: 1;}

li.menu-width-max ul.menu-second-level li {
    float: left;
    width: 100%;
    border: none;}

    .menu-btn {
        position: fixed;
        top: 0px;
        right: 0px;
        display: flex;
        height: 56px;
        width: 55px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background: white;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #808080;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }

    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #menu-btn-check {
        display: none;
    }

    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        display: block;
        width: 100%;
        border-bottom: solid 1px #808080;
        list-style: none;
    }

    .menu-content ul li:nth-child(1) {
        border-top: solid 1px #808080;
    }

    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 20px;
        box-sizing: border-box;
        color: #808080;
        text-decoration: none;
        padding: 9px 0px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #808080;
        border-right: solid 2px #808080;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 33.5px;
    }

    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: white;
        transition: all 0.5s;/*アニメーション設定*/
    }

    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }


.layout_top {
    height: 1977px !important;
}

@media screen and (min-width: 426px) and ( max-width: 440px) {
    .layout_top {
        height: 1950px !important;
    }
}

.layout-app-diagnostics {
    height: 800px !important;
}

.layout-app-diagnostics-result {
    height: 900px !important;
}

.layout-app-strategies {
    height: 900px !important;
}

.layout-app-strategies-show {
    height: 1800px !important;
}

.layout-app-strategies-step-description {
    height: 5600px !important;
}

.layout-date_plans-index {
    height: 800px !important;
}

.layout-date_plans-make_girlfriend {
    height: 3030px !important;
}

.layout-date_plans-play {
    height: 3200px !important;
}

.layout-date_plans-super_play {
    height: 2585px !important;
}

.layout-date_plans_detail-make_girlfriend {
    height: 2500px !important;
}

.layout-date_plans_detail-play {
    height: 2520px !important;
}

.layout-date_plans_detail-super_play {
    height: 2540px !important;
}

.layout-my_page {
    height: 950px !important;   
}

.layout-targets-registration {
    height: 1450px !important;   
}

.layout-targets-index {
    height: 1300px !important;   
}

.layout-targets-show {
    height: 2200px !important; 
}

.layout_date_result_report_new {
    height: 1600px !important; 
}

.layout_date_result_history_index {
    height: 1450px !important; 
}

.layout_date_result_delete_unreported_passed {
    height: 1540px !important;   
}

.layout_date_result_report_show {
    height: 1530px !important; 
}

.layout_user_index {
    height: 1200px !important;   
}

.brand-logo img {
    display: block;
    width: auto;
    height: 50px;
    position: relative;
    top: 3px;
}

#my_page_header_p img {
    display: block;
    width: auto;
    height: 50px;
    position: relative;
    top: -11px;
    left: 4px;
    margin: 0 auto;
}

.layout_terms {
    height: 2300px !important;
}

.layout_privacy {
    height: 2200px !important;
}

.terms_title {
    font-size: 1.875rem;
}

.terms_sub_title {
    font-size: 1.5rem;
}

.terms_end {
    text-align: right;
}
