.hidden {
    display: none;
 }

.mini-text{font-size:10px;}/*文字大きさ*/

ul.bottom-menu {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height:85px;/*高さ*/
    margin:0;
    padding:0;
    background-color: white;/*背景色*/
    border-top:1px solid #dad8d8;/*バーの上の線*/
    z-index:30;}

ul.bottom-menu li {
    float:left;
    width:25%;
    background-color: white;/*背景色*/
    list-style-type:none;
    text-align:center;
    font-size:25px;/*アイコンのサイズ*/}

.bottom-menu li a {
    display: block;
    color:#808080;/*アイコン＆文字の色*/
    padding-top:10px;
    padding-bottom:5px;
    line-height:10px;
    text-decoration:none;}

.bottom-menu li a:hover {
    color:#a9a9a9;/*マウスオーバー時の色*/}

/* === 展開メニュー === */

ul.menu-second-level {
    visibility: hidden;
    opacity: 0;
    z-index:1;}

ul.menu-second-level li a{
    border-top:1px dashed #a9a9a9;/*展開の枠点線*/
    font-size:15px;/*展開メニューの文字サイズ*/
    line-height:30px;/*文字の縦幅*/}

.menu-second-level li a:hover {
    height:100%;
    background: lightgrey;/*マウスオーバーの色*/}

li.menu-width-max ul.menu-second-level {
    position: absolute;
    bottom: 85px;/*高さ*/
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding:0;}

li.menu-width-max:hover ul.menu-second-level {
    bottom: 85px;/*高さ*/
    visibility: visible;
    opacity: 1;}

li.menu-width-max ul.menu-second-level li {
    float: left;
    width: 100%;
    border: none;}

.layout-app-diagnostics {
    height: 800px !important;
}

.layout-app-diagnostics-result {
    height: 850px !important;
}

.layout-app-strategies {
    height: 900px !important;
}

.layout-app-strategies-show {
    height: 1750px !important;
}

.layout-app-strategies-step-description {
    height: 5400px !important;
}

.layout-date_plans-index {
    height: 800px !important;
}

.layout-date_plans-make_girlfriend {
    height: 3030px !important;
}

.layout-date_plans-play {
    height: 3200px !important;
}

.layout-date_plans-super_play {
    height: 2585px !important;
}

.layout-date_plans_detail-make_girlfriend {
    height: 2400px !important;
}

.layout-date_plans_detail-play {
    height: 2520px !important;
}

.layout-date_plans_detail-super_play {
    height: 2540px !important;
}

.layout-my_page {
    height: 900px !important;   
}