// Place all the styles related to the targets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#targets_registration {
    color: black;
    text-align: center;
}

#targets_registration_title {
    position: relative;
    padding: 6px;
    background-image: -webkit-linear-gradient(315deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    background-image: linear-gradient(-225deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    font-weight: bold;
    margin-bottom: 40px;
}
  
#targets_registration_title span {
    display: block;
    padding: 1rem 2rem;
    background: white;
}

.input-field>label {
    color: black;
}

input[type=text]:not(.browser-default) {
    height: 2rem;
    margin: 0px 0 0 0;
    border-bottom: 1px solid black;
}

#row_input_select {
    margin-top: -20px;
    margin-bottom: 22px;
}

.targets_registration_submit_button {
    margin-top: 25px;
    color: white;
    background: linear-gradient(#c2f2f8, #f5dbf1);
    font-size: 22px;
    padding: 0 20px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
