// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  .top-container {
    width: 100vw;
    height: 100vh;
    background: #666 image-url('pexels-andrea-piacquadio-3779751.jpg') no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: rgb(14, 13, 13);
    text-shadow: 0 0 10px #333;
    text-align: center;
  }

  .top-container::before {
    content: '';
    position: absolute;
    /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
  }
  
  .top-title {
    
    font-size: 50px;
    padding-top: 80px;
  }

  .sub-top-title {
    font-size: 28px;
    margin-top: -9px;
  }

  .top-content {
    font-size: 20px;
    margin-top: 70px;
  }

.object_app {
  font-size: 22px;
  margin-top: 25px;
}

.top_apps img {
  margin-right: 10px;
}

.top_start_button {
  margin-top: 35px;
  color: white;
  background: linear-gradient(#c2f2f8, #f5dbf1);
  font-size: 30px;
  padding: 0 37px;
  border-radius: 60px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  outline: 0;
  border: none;
  text-transform: uppercase;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
