// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  .top-container {
    color: rgb(14, 13, 13);
    text-align: center;
  }
  
  .top-title {
    font-size: 50px;
    margin-top: 60px;
    text-shadow: 0 0 10px #333;
  }

  .sub-top-title {
    font-size: 28px;
    margin-top: -9px;
    text-shadow: 0 0 10px #333;
    position: relative;
    padding: 1rem .5rem;
  }
  
  .sub-top-title:before,
  .sub-top-title:after {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 4px;
    content: '';
    background-image: -webkit-linear-gradient(right, #330867 0%, #30cfd0 100%);
    background-image: linear-gradient(to left, #330867 0%, #30cfd0 100%);
  }
  
  .sub-top-title:before {
    top: 0;
  }
  
  .sub-top-title:after {
    bottom: 0;
  }  

  .top-content {
    font-size: 20px;
  }

  .top-content {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    text-shadow: 0 0 2px white;
  }

  .top_box {
    margin: 20px auto;
    width: 320px;
    background: #f7fdff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #1BAFF9;/*線*/
    border-radius: 20px;/*角の丸み*/
  }
  
  .top_box_title {
    border-radius: 30px;/*角の丸み*/
    font-size: 22px;
    background: linear-gradient(to bottom, #1AC8FC, #1BAFF9 45%, #1C8BF5, #1D70F2);
    padding: 20px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
  }  

.top_apps {
  padding: 15px 15px;
}

.top_apps img {
  margin-right: 10px;
}

.top_apps img:nth-child(4) {
  margin-right: 0px !important;
}

.line_qr img {
  margin-top: 30px;
  width: 160px;
  height: 160px;
  border:1px solid #d1d1d1;
}

.line_botton img {
  margin-top: 20px;
  width: 200px;
  height: auto;
}

.top_guide_title {
  margin-top: 40px;
  text-align: center;
  color: black;
  font-size: 27px;
  position: relative;
  padding: 1rem .5rem;
}

.top_guide_title:after {
  position: absolute;
  bottom: -3px;
  right: 10%;
  width: 80%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-linear-gradient(315deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
  background-image: linear-gradient(-225deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
}

.top_guide_each {
	position: relative;
	font-size: 24px;
	text-align: center;
  margin-top: 20px;
  margin-bottom: 14px;
}

.top_guide_each::before {
	content: attr(data-number);
	display: block;
	margin-bottom: 25px;
	font-size: 28px;
}

.top_guide_each::after {
	content: '';
	position: absolute;
	top: 32px;
	left: 50%;
	transform: translateX(-50%);
	width: 1px;
	height: 16px;
}

.top_guide_each.each_1::before {
	color: red;
}

.top_guide_each.each_1::after {
	background-color: red;
}

.top_guide_each.each_2::before {
	color: blue;
}

.top_guide_each.each_2::after {
	background-color: blue;
}

.top_guide_each.each_3::before {
	color: green;
}

.top_guide_each.each_3::after {
	background-color: green;
}

.top_guide_each.each_4::before {
	color: lightseagreen;
}

.top_guide_each.each_4::after {
	background-color: lightseagreen;
}

.top_guide_each.each_5::before {
	color: rgb(255, 136, 0);
}

.top_guide_each.each_5::after {
	background-color: rgb(255, 136, 0);
}

.top_guide_each.each_6::before {
	color: purple;
}

.top_guide_each.each_6::after {
	background-color: purple;
}

.top_guide_each.each_7::before {
	color: rgb(255, 131, 193);
}

.top_guide_each.each_7::after {
	background-color: rgb(255, 131, 193);
}

.top_guide_each.each_8::before {
	color: #e8198b;
}

.top_guide_each.each_8::after {
	background-color: #e8198b;
}

.top_guide_each.each_9::before {
	color: crimson;
}

.top_guide_each.each_9::after {
	background-color: crimson;
}

.top_guide_each.each_10::before {
	color: tomato;
}

.top_guide_each.each_10::after {
	background-color: tomato;
}

.top_guide_each.each_11::before {
	color: rgb(0, 212, 212);
}

.top_guide_each.each_11::after {
	background-color: rgb(0, 212, 212);
}

.top_guide_each.each_12::before {
	color: dodgerblue;
}

.top_guide_each.each_12::after {
	background-color: dodgerblue;
}

.top_guide_each.each_13::before {
	color: limegreen;
}

.top_guide_each.each_13::after {
	background-color: limegreen;
}

.top_guide_each.each_14::before {
	color: darkolivegreen;
}

.top_guide_each.each_14::after {
	background-color: darkolivegreen;
}

.top_guide img {
  width: 130px;
  height: auto;
  border: 1px solid #d1d1d1;
}

.swiper {
  border-top: 3px solid #c2f2f8;
  border-bottom: 3px solid #f5dbf1;
  border-image: linear-gradient(-225deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
  border-image-slice: 1;
  margin-top: 30px;
}

@media screen and (min-width: 375px) and ( max-width: 385px) {
  .slide-content {
    position: relative;
    right: -3px;
  }
}

@media screen and (min-width: 386px) and ( max-width: 400px) {
  .slide-content {
    position: relative;
    right: -5px;
  }
}

@media screen and (min-width: 401px) and ( max-width: 425px) {
  .slide-content {
    position: relative;
    right: -10px;
  }
}

@media screen and (min-width: 426px) and ( max-width: 440px) {
  .slide-content {
    position: relative;
    right: -13px;
  }
}

.slide-content {
  text-align: left;
  margin-bottom: 45px;
  width: 190px;
}

@media screen and (min-width: 980px) {
  .slide-content {
    position: relative;
    left: 265px;
  }
}

.slide-content .each_1{
  color: red;
}

.slide-content .each_2{
  color: blue;
}

.slide-content .each_3{
  color: green;
}

.slide-content .each_4{
  color: lightseagreen;
}

.slide-content .each_5{
  color: rgb(255, 136, 0);
}

.slide-content .each_6{
  color: purple;
}

.slide-content .each_7{
  color: rgb(255, 131, 193);
}

.slide-content .each_8{
  color: #e8198b;
}

.slide-content .each_9{
  color: crimson;
}

.slide-content .each_10{
  color: tomato;
}

.slide-content .each_11{
  color: rgb(0, 212, 212);
}

.slide-content .each_12{
  color: dodgerblue;
}

.slide-content .each_13{
  color: limegreen;
}

.slide-content .each_14{
  color: darkolivegreen;
}

/* ナビゲーションボタン */
.swiper-button-prev:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f137";
  color: #c2f2f8; /* 色を白に */  
  margin-left: 20px; /* マージンを追加 */
  z-index: 2;
}
.swiper-button-next:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f138";
  color: #f5dbf1;
  margin-right: 20px;
  z-index: 2;
}

/* ページネーション */
.swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:#000;
  background: #fff;
}
.swiper .swiper-pagination-bullet-active {
  color:#fff;
  background: linear-gradient(to bottom, #1AC8FC, #1BAFF9 45%, #1C8BF5);
}

.top_guide_end_text {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 24px;
}

.copyright {
  font-size: 18px;
}
