// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ヘッダー
#my_page_header_nav {
    position: relative;
    right: 40px;
    bottom: 34px;
    width: 120%; 
    height: 64px;
    z-index: 1;
    margin-bottom: 50px;
}

#my_page_header_nav {
  display: block;
}

#my_page_header_p {
    text-align: center;
    position: relative;
    top: 22px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 540;
}
  
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}



#my_page_container {
    color: black;
    text-align: center;
    margin-top: 100px;
}

#my_page_title {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 6px;
    background-image: -webkit-linear-gradient(315deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
    background-image: linear-gradient(-225deg, #c2f2f8 0%, #f5dbf1 29%, #c2f2f8 67%, #f5dbf1 100%);
}
  
#my_page_title span {
    display: block;
    padding: 1rem 1rem;
    background: white;
    font-size: 2.4rem;
    font-weight: bold;
}

.my_page_person {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 27px;
}

 
 // プログレスバー

 @keyframes load {/*アニメーション*/
    0% {
      stroke-dashoffset: 0;
    }
  }
  .progress {/*親要素*/
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
  }
  .progress > li {/*プログレスバーを包括する子要素*/
    display: inline-block;
    position: relative;
    text-align: center;
    color: #e8198b;
    font-weight: 100;
    margin: 1rem;
  }

  .progress > li:after {/*パーセンテージを表示*/
    content: attr(data-percent);
    position: absolute;
    width: 100%;
    top: 5rem;
    left: 0;
    font-size: 2rem;
    text-align: center;
  }
  .progress svg {/*プログレスバー*/
    width: 10rem;
    height: 10rem;
  }
  .progress svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
  }
  .progress svg:nth-child(2) path {
    fill: none;
    stroke-width: 25;
    stroke-dasharray: 629;
    stroke: #fff;
    opacity: .9;
    animation: load 5s;
  }


.my_page_progress_box {
    margin: 30px 30px;
    background: #fff8fc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border: solid 0.5px #e8198b;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.my_page_progress_box_title {
    border-radius: 10px;/*角の丸み*/
    font-size: 30px;
    background: linear-gradient(to bottom right, #e8198b 0%, #c7eafd 100%);
    padding: 25px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.my_page_diagnostic_result_button {
    margin: 40px auto 30px auto;
    color: white;
    background: rgb(72, 129, 252);
    width: 250px;
    padding: 10px 20px;
    font-size: 23px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.my_page_girl_button {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 10px 35px;
    font-size: 23px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    word-break: break-all;
    background: linear-gradient(#c2f2f8, #f5dbf1);
 }