<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="brand-logo"><img src="/logos/マッチングアプリマスター.jpg"></a>
    <div class="hamburger-menu">
            <!-- ↓↓項目2. おすすめ　すぐ下の"＃"はそのまま -->
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <!--ここからメニュー-->
            <div class="menu-content">
                <ul>
                    <li>
                        <a href="/guide">アプリの使い方</a>
                    </li>
                    <li>
                        <a href="/app_diagnostics">適正アプリ診断</a>
                    </li>
                    <li>
                        <a href="/targets/new">女性登録</a>
                    </li>
                    <li>
                        <a href="/targets">女性一覧</a>
                    </li>
                </ul>
            </div>
            <!--ここまでメニュー-->
          </div>
  </div>
</nav>